.c-button--with-icon {
  @extend %flex-centered;

  span {
    margin-left: 1.3rem;
  }
}

.c-button--full-width {
  width: 100%;
}

.c-button--text {
  margin: 2.4rem auto;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: .15rem;
  color: rgba($black, .5);
  padding: 0;
  display: block;
  background-color: transparent;
}
